@import 'settings';

body {
    background-color: $color-main;
    a {
        color: $color-white;
        &:hover {
            color: $color-white1;
        }
    }
    display: flex;
    p {
        color: orange;
    }
}